__pycache__
baocao/main.aux
baocao/main.fdb_latexmk
baocao/main.fls
baocao/main.log
baocao/main.synctex.gz
baocao/main.out
baocao/main.synctex(busy)
baocao/indent.log

# baocao/main.pdf
# baocao/main.pdf
# baocao/main.pdf
baocao/main.pdf